		<script type = "text/javascript">
			$('.ui.dropdown').dropdown();
			$('.post-content .avatar').popup({
				inline:true,
				position: 'bottom right',
				lastResort:'bottom rigth',
			});
		</script>
	</body>
</html>